html, body {
  overflow: hidden;
  width: 100%;
  margin: 0;
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12pt;
}
h1 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 15pt;
  color: yellow;
  margin: 0px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 5px 0px;
  border-bottom: 1px yellow solid;
}
p {
  margin-top: 0; 
}
dl {
  position: absolute;
  bottom: 10px;
  padding-right: 20px;
  font-size: 80%;
}
dt {
  color: yellow;
}
dd {
}
blockquote {
  margin: 0;
  margin-left: 1.5em;
  padding-left: 1.5em;
  font-family: monospace;
  font-size: 90%;
  line-height: 1.3em;
  border-left: 7px yellow solid;
}
#body {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#page-body {
  width: 100%;
  height: 85%;
}
#nav-bar {
  height: 60px;
  width: 100%;
}
#nav-content, .nav-border {
  width: 100%;
}
.nav-border {
  height: 3px;
  background-color: black;
}
#nav-content {
  height: 54px;
  background: transparent url('../images/nav_bg.png') repeat-y;
}
#nav-content #nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  float: left;
}
#nav-content #nav-list li {
  float: left;
  display: block;
  height: 54px;
  margin: 0;
}
#nav-content #nav-list a:link, #nav-content #nav-list a:visited {
  display: inline-block;
  padding: 15px 2.1em;
  color: white;
  text-decoration: none;
}
#nav-content #nav-list a:hover, #nav-content #nav-list a:active, #nav-content #nav-list li.active a {
  color: yellow;
}
#content {
  position: absolute;
  width: 80%;
  height: 70%;
  left: 50%;
  top: 7%;
  padding: 20px 0px;
  margin-left: -40%;
  margin-top: -20px;
  background-color: black;
  overflow: hidden;
  line-height: 1.5em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  opacity: 0.85;
  filter: alpha(opacity=85);
}
#content-body {
  height: 100%;
  margin: 0px 20px;
}
#content-text {
  width: 100%;
  height: 100%;
  overflow: auto;
}
#content-text .content-object {
}
#bg, #bg table, #bg td {
  height: 100%;
  width: 100%;
}
#bg div {
  position: absolute;
  z-index: 1;
  height: 200%;
  width: 200%;
  top: -100%;
  left: -100%;
}
#bg td {
  text-align: center;
  vertical-align: middle;
}
#bg img {
  position: absolute;
  margin: 0 auto;
  width: 50%;
  bottom: 0;
  right: 0;
}
