ul.projects-list {
  list-style: none;
  margin: 0px; 
  padding: 0px;
  display: block;
}

ul.projects-list a:link, ul.projects-list a:visited {
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: yellow;
}

ul.projects-list a:hover, ul.projects-list a:active {
  text-decoration: underline;
}

ul.projects-list li {
  display: inline-block;
  margin-bottom: 2em;
}

ul.projects-list img {
  margin: 5px;
  margin-left: 0px;
}
